.card_container {
  height: 2rem;
  width: 100%;
  margin: 0.2rem 0;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_title {
  /* height: 2rem !important; */
  width: 75%;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem 0 0 0.5rem;
  user-select: none;
  padding: 5px;
  color: rgb(0, 0, 0);
  background-color: white;
  font-size: 0.9rem;
  /* border: 2px solid rgb(255, 0, 0); */
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
}

.check_container {
  height: 2rem;
  width: 0%;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
}

.card_container:hover .card_title {
  width: calc(75% - 2rem);
}

.card_container:hover .check_container {
  height: 2rem;
  width: 2rem;
  opacity: 1;
}

.check {
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.514);
  cursor: pointer;
  transition: all 0.2s ease;
}

.check::after {
  content: "Finish task";
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translate(-50%);
  height: 1.5rem;
  width: auto;
  background-color: rgb(41, 41, 41);
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events: none;
  font-size: 0.7rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  padding: 0.2rem 0.6rem;
}

.check_container:hover .check::after {
  opacity: 1;
}

.completed .check {
  background-color: rgb(4, 136, 4);
  border: 1px solid rgba(0, 0, 0, 0.514);
}

.completed .check svg {
  fill: white;
}

.completed .check::after {
  content: "Reopen task";
}

.completed .card_title {
  color: gray;
  width: calc(75% - 2rem);
  text-decoration: line-through;
  -webkit-user-modify: read-only;
}

.completed .check_container {
  opacity: 1;
  height: 2rem;
  width: 2rem;
  opacity: 1;
}

.card_buttons {
  height: 2rem;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0 0.5rem 0.5rem 0;
  user-select: none;
  padding: 0.5rem;
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #ffffff, #ff00002d);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 1%,
    rgba(255, 255, 255, 1) 50%,
    #ff00002d 100%
  );
  background-position: left;
  background-size: 200% 100%;
  font-size: 0.9rem;
  transition: all 0.2s ease;
}

.card_buttons:hover {
  background-position: right;
}

.card_buttons svg {
  fill: rgb(107, 3, 3);
  opacity: 0;
  transition: all 0.2s ease;
}

.card_container:hover .card_buttons svg {
  opacity: 1;
}
