.list_container {
  min-height: 3rem;
  width: 20rem;
  margin: 0 0.5rem;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.list_header {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.list_header_buttons {
  height: 1.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.list_header_buttons:hover {
  background-color: rgb(214, 214, 214);
}

.list_title {
  width: auto;
  max-width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
  user-select: none;
  padding: 0.5rem;
  color: rgb(0, 0, 0);
  background-color: rgb(238, 238, 238);
}

.list_title:hover {
  background-color: rgba(0, 0, 0, 0.096) !important;
}

.createCard_container {
  height: 2rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 0.2rem 0;
}

.createCard_container:hover {
  background-color: rgba(0, 0, 0, 0.13);
}

.createCard_container svg {
  fill: rgb(0, 0, 0);
  transform: scale(1.2);
  margin: 0 0.5rem;
}
