.list_container {
  min-height: 3rem;
  width: 20rem;
  margin: 0 1rem;
  height: fit-content;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.list_title {
  height: 1.5rem !important;
  width: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
  user-select: none;
  padding: 1rem;
  color: rgb(0, 0, 0);
  background-color: white;
  margin-bottom: 0.3rem;
}

.list_title:hover {
  background-color: rgba(0, 0, 0, 0.096) !important;
}

.createCard_container {
  height: 2rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 0.2rem 0;
}

.createCard_container:hover {
  background-color: rgba(0, 0, 0, 0.13);
}

.createCard_container svg {
  fill: rgb(0, 0, 0);
  transform: scale(1.2);
  margin: 0 0.5rem;
}
