/* Banner */
.banner-container {
  height: 3rem;
  width: 100vw;
  background-color: var(--banner-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-container > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_start,
.banner_end {
  width: 10rem;
}

.banner_center {
  width: 50rem;
}

/* Banner Start */

.logo {
  font-family: "Zalando Sans Expanded";
  color: white;
}

/* Banner Center */
.search_bar {
  height: 70%;
  width: 100%;
  background-color: #986498;
  border-radius: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.search_bar * {
  margin-left: 0.5rem;
  color: white;
}
.search_bar:hover {
  background-color: #b183b1;
}

.search_bar:focus-within {
  background-color: #e0cce0;
}

.search_bar:focus-within *,
.search_bar:focus-within .search_input::placeholder {
  fill: black;
  color: black;
}

.search_input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  user-select: none;
  cursor: pointer;
  border: none;
}

.search_input::placeholder {
  color: white;
}

/* Banner End */

.banner_end {
  position: relative;
  /* outline: 2px solid red; */
}

.bg_button {
  height: 80%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}

.bg_button > svg {
  fill: white;
  transform: scale(1.4);
}

.bg_button:hover {
  background-color: #7e0a7e;
}

.bgMenu_container {
  height: 20rem;
  width: 27rem;
  background-color: rgb(248, 248, 248);
  position: absolute;
  top: 3.5rem;
  left: -17.5rem;
  border-radius: 0.5rem;
  box-shadow: 3px 6px 14px -9px rgba(66, 68, 90, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.bgMenu_header {
  height: 20%;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}
.bgMenu_home {
  height: 80%;
  width: 100%;
  border: 2px solid red;
}

.bgMenu_button {
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  transition: all 0.2s ease;
  cursor: pointer;
  /* border: 2px solid red; */
}

.bgMenu_button:hover {
  background-color: rgb(218, 217, 217);
}

.bgMenu_title {
  font-family: "Inter";
  font-size: 0.9rem;
}

.bgMenu_button svg {
  /* transform: scale(1.2); */
}

.bgMenu_content {
  height: 50%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  position: relative;
}

.bgMenu_content::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  height: 1px;
  width: 90%;
  transform: translate(-50%, 0);
  background-color: rgb(218, 218, 218);
}

.selection_container {
  height: 100%;
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.selection_container:hover {
  opacity: 0.9;
}

.selection_image {
  height: 80%;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  background: linear-gradient(180deg, #6441a5 1%, #2a0845 100%);
}

.selection_image img {
  height: 100%;
  width: 100%;
}

.selection_title {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.bgMenu_custom {
  height: 50%;
  width: 100%;
  padding: 1rem;

  /* border: 2px solid red; */
}

@media (max-width: 1300px) {
  .banner_center {
    width: 30rem;
  }
}

@media (max-width: 1000px) {
  .banner_center {
    width: 20rem;
  }
}

@media (max-width: 700px) {
  .banner_center {
    display: none !important;
  }
}
