@keyframes rotating {
  0% {
    transform: translate(-50%, -50%) scale(2.5) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(2.5) rotate(360deg);
  }
}

/* Banner */
.banner-container {
  height: 3rem;
  width: 100vw;
  background-color: var(--banner-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-container > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_start,
.banner_end {
  width: 10rem;
}

.banner_center {
  width: 50rem;
}

/* Banner Start */

.logo {
  font-family: "Zalando Sans Expanded";
  color: white;
}

/* Banner Center */
.search_bar {
  height: 70%;
  width: 100%;
  background-color: #0000005b;
  border-radius: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.search_bar * {
  margin-left: 0.5rem;
  color: white;
}
.search_bar:hover {
  background-color: #00000083;
}

.search_bar:focus-within {
  background-color: #ffffffa2;
}

.search_bar:focus-within *,
.search_bar:focus-within .search_input::placeholder {
  fill: black;
  color: black;
}

.search_input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  user-select: none;
  cursor: pointer;
  border: none;
}

.search_input::placeholder {
  color: white;
}

/* Banner End */

.banner_end {
  position: relative;
  /* outline: 2px solid red; */
}

.bg_button {
  height: 80%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}

.bg_button > svg {
  fill: white;
  transform: scale(1.4);
}

.bg_button:hover {
  background-color: #00000081;
}

.bgMenu_container {
  height: 20rem;
  width: 27rem;
  background-color: rgb(248, 248, 248);
  position: absolute;
  top: 3.5rem;
  left: -17.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  user-select: none;
}

.big {
  height: 40rem;
}

.bgMenu_header {
  height: 5rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bgMenu_home {
  height: 80%;
  width: 100%;
}

.bgMenu_button {
  height: 60%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none;
}

.bgMenu_button:hover {
  background-color: rgb(218, 217, 217);
}

.bgMenu_title {
  font-family: "Inter";
  font-size: 0.9rem;
}

.bgMenu_content {
  height: 50%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  position: relative;
}

.bgMenu_content::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  height: 1px;
  width: 90%;
  transform: translate(-50%, 0);
  background-color: rgb(218, 218, 218);
}

.selection_container {
  height: 100%;
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.selection_container:hover {
  opacity: 0.9;
}

.selection_image {
  height: 80%;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  background: linear-gradient(180deg, #6441a5 1%, #2a0845 100%);
}

.selection_image img {
  height: 100%;
  width: 100%;
}

.selection_title {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.bgMenu_custom {
  height: 50%;
  width: 100%;
  padding: 1rem;
}

.bgMenu_pictures {
  height: 35rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 0.5rem;
  user-select: none;
  padding: 0 0.4rem 0.4rem 0.4rem;
}

.photo_image {
  height: 5rem;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
}

.photo_image svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2.5);
  fill: white;
  aspect-ratio: 1;
  z-index: 10;
}

.rotating svg {
  animation: rotating 1.5s linear infinite;
}

.selected::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.651);
}

.photo_image:hover {
  opacity: 0.9;
}

.photo_image img {
  height: 100%;
  width: 100%;
}

@media (max-width: 1300px) {
  .banner_center {
    width: 30rem;
  }
}

@media (max-width: 1000px) {
  .banner_center {
    width: 20rem;
  }
}

@media (max-width: 700px) {
  .banner_center {
    display: none !important;
  }
}

@media (max-width: 27rem) {
  .bgMenu_container {
    width: 100vw;
    position: fixed;
    left: 0;
  }
}
