:root {
  --banner-color: #0000006b;
  --header-color: #0000002c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:hover,
input:focus {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  border-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #eeeeee71;
  padding: 1rem;
}
::-webkit-scrollbar-thumb {
  background: #ffffffc5;
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #dad9d9c5;
}

::-webkit-scrollbar-thumb:active {
  background: #c9c9c9c5;
}
