:root {
  --banner-color: #0000006b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:hover,
input:focus {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  border-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: #d8d8d8;
}

::-webkit-scrollbar-thumb {
  background: #949394;
  border-radius: 5%;
}

/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #cf7070;
  border-radius: 5%;
} */

::-webkit-scrollbar-thumb:hover {
  background: #a95555;
}

::-webkit-scrollbar-thumb:active {
  background: #7d3f3f;
}
