.board-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  z-index: -1;
}
.default-pic img {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}
.board-bg::after,
.default-pic::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
